coverage
einops
flake8
black
numpy
protobuf
pytest
lightning==2.0.0
requests
torch==2.0.0
torchmetrics
urllib3
xbatcher
rioxarray
gcsfs
zarr
xarray[complete]
dask[complete]
ipytree
geopandas
finetuning-scheduler==2.0.0
dask-ml
wandb
tensorflow
tensorboard
xgboost==1.7.4
